/.phpunit.cache
/node_modules
/public/build
/public/ckfinder
/public/images-back
/public/images/blog
#/public/images/users-guide
/public/images/blog-photos
/public/images/developer-55
/public/images/developer-test
/public/images/*.zip
/public/images/ckfinder
/public/assets/adminXXXXXX
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
/.fleet
/.idea
/.vscode
