.blogDetails_wrap {
    border: 2px solid var(--border-color-11);
    padding: 20px 20px;
}

.blogDetails_wrap .title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-bottom: 10px;
    margin-bottom: 5px !important;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.blogDetails_wrap .blog_meta_date ul li {

}

.blogDetails_wrap .blogPhoto {
    margin-top: 10px;
    margin-bottom: 10px;
}


.blogDetails_wrap .blogPhoto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.blogDetails_wrap .newsDesPrint {
    min-height: 600px;
    padding-bottom: 30px;
    margin-bottom: 30px;

}


@media (max-width: 767.98px) {
    .blogDetails_wrap .title {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding-bottom: 10px;
        margin-bottom: 5px !important;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .blogDetails_wrap .newsDesPrint {
        min-height: 120px;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: .8rem;
    }

}

.blogSideBar {

}


.blogSideBar .ltn__widget-title-border-2 {
    border-left: 2px solid;
    border-color: var(--def-color);
    padding-left: 10px;
    position: relative;
}

html[lang="ar"] .blogSideBar .ltn__widget-title-border-2 {
    border-left: 0;
    padding-left: 0;
    border-color: var(--def-color) !important;
    border-right: 2px solid;
    padding-right: 10px;
}

.blogSideBar .ltn__widget-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: none;
    letter-spacing: 1px;
    color: var(--def-color);
}

html[lang="ar"] .blogSideBar .ltn__widget-title {
    font-size: 18px;
    letter-spacing: 0;
}


.blogSideBar .ltn__popular-post-widget > ul > li {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-color-1);
    padding-bottom: 15px;
}

.blogSideBar .ltn__popular-post-widget > ul > li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.blogSideBar .popular-post-widget-brief h6 {
    margin-bottom: 0;
    margin-top: -2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;

}

.blogSideBar .popular-post-widget-img img {
    max-width: 80px;
    border-radius: 5px;
    margin-top: 5px;
}

.blogSideBar .widget {
    margin-bottom: 40px;
    padding: 25px 30px 20px 25px;
    border: 2px solid var(--border-color-11);
}

.widget_cta_btn {
    display: flex;
    justify-content: center;
    gap: 15px; /* المسافة بين الزرين */
    margin-top: 20px;
    flex-wrap: wrap;
}

.widget_cta_btn .btn {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}

html[lang="ar"] .widget_cta_btn .btn i {
    margin-left: 2px;
    margin-right: 0;
}

/* الوضع الافتراضي بالإنجليزية */
html[lang="en"] .widget_cta_btn .btn {
    direction: ltr;
    text-align: left;
}

html[lang="en"] .widget_cta_btn .btn i {
    margin-right: 2px;
    margin-left: 0;
}


.call_us {
    background-color: #d32f2f;
}

.whatsapp {
    background-color: #25D366;
}

.map {
    background-color: #1976D2;
}

.btn:hover {
    opacity: 0.85;
}


.makkah_widget h5 {
    color: var(--def-color);
    font-size: 22px;
    margin-top: 10px;

}

.makkah_widget .title {
    color: var(--def-color);
    font-size: 22px;
    margin-top: 15px;

}


.makkah_widget .about_us {

    font-size: 1rem;
    line-height: 1.5;


}


.news-article strong {

}


.newsDesPrint h2 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-left: 4px solid var(--def-color);
    padding-left: 10px;
    font-family: "Inter", sans-serif !important;
    color: var(--def-color);;
}

html[lang="ar"] .newsDesPrint h2 {
    font-family: "Tajawal", sans-serif !important;
    padding-left: 0;
    padding-right: 10px;
    border-left: 0;
    border-right: 4px solid var(--def-color);
}


.newsDesPrint p {
    margin-bottom: 15px;
    font-size: 16px;
}

.newsDesPrint ul {
    padding-right: 20px;
    margin-bottom: 20px;
}

.newsDesPrint ul li {
    margin: 0!important;
    margin-bottom: 5px!important;
    font-size: 16px;
    position: relative;
    padding-right: 18px;

}


html[lang="ar"] .newsDesPrint ul li {
    padding-left:18px;
    padding-right: 0;
}



.newsDesPrint blockquote {
    background: #eef5fa;
    border-left: 5px solid #1c3f63;
    padding: 20px 25px;
    font-style: italic;
    margin: 30px 0;
    border-radius: 6px;
    color: #333;

    font-family: "Inter", sans-serif !important;

}


.newsDesPrint blockquote::before {
    position: absolute;
    content: "";
    font-size: 150px;
    right: 45px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--white);
    z-index: -1;
}


html[lang="ar"] .newsDesPrint blockquote {
    font-family: "Tajawal", sans-serif !important;

}

.newsDesPrint a {
    color: var(--def-color) !important;
    text-decoration: none;
    font-weight: 600;
}

.newsDesPrint strong {
    color: var(--def-color) !important;
}

.newsDesPrint a:hover {
    text-decoration: underline;
}

.newsDesPrint .news-footer {
    margin-top: 40px;
    font-size: 14px;
    color: #888;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    text-align: right;
}