.edit_logo img {
    max-height: 60px !important;
    width: auto;
}

.ltn__slide-item-2 .slide-item-info {
    max-width: 900px !important;
}

.slide-brief {
    max-width: 900px !important;
    font-size: 16px !important;
}

.slide-brief p {
    max-width: 900px !important;
    font-size: 18px !important;
    font-weight: 500;
    letter-spacing: 1px;
}

.slide-item-info h1 {
    font-size: 50px !important;
}

.slide-item-info h1 span.number {
    font-size: 180px !important;
    color: #ef4036;
}

.slide-item-info h1 span.years {
    font-size: 40px !important;
    color: #ef4036;
}

.slide-item-info h1 {
    font-size: 60px !important;
}

@media (max-width: 767.98px) {
    .ltn__slide-item-2 {
        padding-top: 140px !important;
    }

    .slide-item-info h1 span.number {
        font-size: 150px !important;
        color: #ef4036;
    }

    .slide-item-info h1 span.years {
        font-size: 40px !important;
        color: #ef4036;
    }

    .slide-item-info h1 {
        font-size: 30px !important;
    }

    .slide-brief p {
        max-width: 900px !important;
        font-size: 17px !important;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

.ltn__breadcrumb-area {
    margin-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--section-bg-6);
    color: #ffffff !important;
}

.ltn__breadcrumb-area h1 {
    color: #ffffff !important;
}

.ltn__breadcrumb-list ul li:last-child {
    margin-right: 0;
    color: #ffffff !important;
}

.updateFont {
    font-family: "Inter", sans-serif !important;
}

html[lang="ar"] .updateFont {
    font-family: "Tajawal", sans-serif !important;
}

.changeLanguage {
    font-family: "Tajawal", sans-serif !important;

}

html[lang="ar"] .changeLanguage {
    font-family: "Inter", sans-serif !important;
}

.cta_number {
    font-family: "Inter", sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.7 !important;

}


